2811_cw2-master-release/the.pro.user
2811_cw2-master-release/the.pro
2811_cw2-master-release/the.pro.user*
2811_cw2-master-release/videos/
build-the-Desktop_Qt_5_15_2_clang_64bit-Debug/
build-the-Desktop-Debug/
build-the*
